APP_SECRET_KEY=747d27aa2d678b30ee5c1e7e37bdf056ef6465518fe103089eda3edadd5df7fc

# Initial Setup Admin (Will be created automatically on first launch)
INITIAL_ADMIN_USER=admin
INITIAL_ADMIN_PASSWORD=admin

# Signature Encryption
SIGNATURE_KEY=Xm1UdTBWP4Bsd8B9sKuRq6GOGfyWX8z4xIxTUzzIXMjW

# Backup locations
BACKUP_DIR=D:\App_Backups

# Debug Toggle: Set to True to completely bypass Google Drive sync
DISABLE_CLOUD_SYNC=False

# Replace this with your appropriate GDrive letter (e.g. "GDRIVE_LETTER=H")
GDRIVE_LETTER=G